package logic

import (
	"fmt"

	mrand "math/rand"
	"time"
)

func CreateCaptcha() (string, error) {
	mrand.Seed(time.Now().UnixNano())
	code := ""
	for i := 0; i < 6; i++ {
		code += fmt.Sprintf("%d", mrand.Intn(10))
	}
	return code, nil
}
